## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Springdale,US,36.1867,-94.1288,39.00,52,1,6.91,clear sky
1,1,Mbandaka,CD,0.0487,18.2603,70.99,91,88,4.52,overcast clouds
2,2,Yellowknife,CA,62.4560,-114.3525,5.00,85,75,3.44,broken clouds
3,3,Urengoy,RU,65.9667,78.3667,-2.56,92,100,4.76,overcast clouds
4,4,Kamenka,RU,51.3223,42.7678,8.01,95,21,5.66,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 60

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
21,21,Laguna,US,38.4210,-121.4238,53.01,87,1,1.16,mist
32,32,Baghdad,IQ,33.3406,44.4009,51.80,76,94,9.22,overcast clouds
39,39,Ushuaia,AR,-54.8000,-68.3000,46.40,71,75,12.66,broken clouds
42,42,Waddan,LY,29.1614,16.1390,47.64,63,0,2.75,clear sky
49,49,Ponta Do Sol,PT,32.6667,-17.1000,52.00,65,19,3.00,few clouds
58,58,Punta Arenas,CL,-53.1500,-70.9167,53.60,76,90,11.50,overcast clouds
61,61,Marshall,US,34.3834,-86.3333,46.00,61,75,4.61,broken clouds
65,65,Codrington,AU,-38.2667,141.9667,59.94,57,42,27.31,light rain
69,69,Hobart,AU,-42.8794,147.3294,57.00,76,75,3.44,light rain
81,81,Shimoda,JP,34.6667,138.9500,50.00,76,75,16.11,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

City_ID                87
City                   87
Country                87
Lat                    87
Lng                    87
Max Temp               87
Humidity               87
Cloudiness             87
Wind Speed             87
Current Description    87
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
21,21,Laguna,US,38.4210,-121.4238,53.01,87,1,1.16,mist
32,32,Baghdad,IQ,33.3406,44.4009,51.80,76,94,9.22,overcast clouds
39,39,Ushuaia,AR,-54.8000,-68.3000,46.40,71,75,12.66,broken clouds
42,42,Waddan,LY,29.1614,16.1390,47.64,63,0,2.75,clear sky
49,49,Ponta Do Sol,PT,32.6667,-17.1000,52.00,65,19,3.00,few clouds
...,...,...,...,...,...,...,...,...,...,...
654,654,Hamada,JP,34.8833,132.0833,55.40,58,75,12.66,broken clouds
657,657,Ivybridge,GB,50.3904,-3.9191,45.00,92,100,8.37,overcast clouds
664,664,Xichang,CN,27.8964,102.2634,50.00,52,79,1.32,broken clouds
673,673,Shiyan,CN,32.6475,110.7781,49.08,44,0,1.99,clear sky
674,674,Luohe,CN,33.5717,114.0353,46.31,50,100,5.35,overcast clouds

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, current description, and coordinates.

hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,Laguna,US,53.01,mist,38.4210,-121.4238,
32,Baghdad,IQ,51.80,overcast clouds,33.3406,44.4009,
39,Ushuaia,AR,46.40,broken clouds,-54.8000,-68.3000,
42,Waddan,LY,47.64,clear sky,29.1614,16.1390,
49,Ponta Do Sol,PT,52.00,few clouds,32.6667,-17.1000,
58,Punta Arenas,CL,53.60,overcast clouds,-53.1500,-70.9167,
61,Marshall,US,46.00,broken clouds,34.3834,-86.3333,
65,Codrington,AU,59.94,light rain,-38.2667,141.9667,
69,Hobart,AU,57.00,light rain,-42.8794,147.3294,
81,Shimoda,JP,50.00,broken clouds,34.6667,138.9500,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [24]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.drop(hotel_df[hotel_df['Hotel Name'] == " "].index, inplace = True)
#hotel_df.dropna(inplace = True)
#hotel_df

clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= ""]

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,Laguna,US,53.01,mist,38.4210,-121.4238,
32,Baghdad,IQ,51.80,overcast clouds,33.3406,44.4009,
39,Ushuaia,AR,46.40,broken clouds,-54.8000,-68.3000,
42,Waddan,LY,47.64,clear sky,29.1614,16.1390,
49,Ponta Do Sol,PT,52.00,few clouds,32.6667,-17.1000,
...,...,...,...,...,...,...,...
654,Hamada,JP,55.40,broken clouds,34.8833,132.0833,
657,Ivybridge,GB,45.00,overcast clouds,50.3904,-3.9191,
664,Xichang,CN,50.00,broken clouds,27.8964,102.2634,
673,Shiyan,CN,49.08,clear sky,32.6475,110.7781,
674,Luohe,CN,46.31,overcast clouds,33.5717,114.0353,BNB 29-Tunxi Old Street Branch

In [25]:
# 8a. Create the output File (CSV)
#output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
#hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Take a screenshot of your map and save it to the Vacation_Search folder as WeatherPy_vacation_map.png.